ul {
    display: flex;
    justify-content: space-between;
}

li{
    list-style-type: none; 
}

#container {
	margin: 0 auto;
}

nav {
	margin: 50px 0;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
}

nav button {
	display:block;
	line-height: 20px;
	text-decoration:none;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
	justify-content: space-between;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	left:122px;
	top: -25px;
}